
html{
    height: 100%;
    width: 100%;
}
body{
    margin: 0px;
    padding: 0px;
    /*font-family: 'PT Sans', sans-serif;*/
}
p{
    margin-bottom: 10px;
    line-height: 20px;
    color: #191919;
    font-size: 16px;
}
h1, h2, h3{
    color: #2bac3d;
    margin-bottom: 10px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: inherit;
}
