.action-button{
    input{
        background: $meetColor;
        border: 1px solid #46c759;
        &:hover{
            background: $meetColor_answer;
        }
    }
}

.action{
    
    width: auto;
    cursor: pointer;
    @include breakpoint($planshetScreen) {
        display: inline-block;
    }
    input{
        cursor: pointer;
        color: #fff;
        margin: 0 auto;
        display: block;
        font-family: "Clear Sans Medium";
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        padding: 5px 15px 7px 15px;
        outline: none;
        @include border-radius(5px);
        @include single-transition(all, .2s, ease);
        @include breakpoint($planshetScreen) {
            font-family: "Clear Sans Light";
        }
    }
}
.action-minor{
    input{
        background-color: $secondColor_L2;
        border: 1px solid $secondColor_L1;
        &:hover{
            background-color: $secondColor_answer;
        }
    }
}
