
.header-tape{
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    user-select: none;
    position: relative;
    @include interaction_font($size: 18px);
    @include breakpoint($planshetScreen){
    	@include interaction_font($size: 32px);
        padding: 15px 20px;
        height: 90px;
        background: $meetColor;
        font-size: 0;
    }
    &:after{
        display: none;
        @include breakpoint($planshetScreen){
            content: ' ';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
    .header-tape_toggle{
    	content: "t";
    	font-family: 'GrVz';
    	display: inline-block;
    	position: absolute;
    	height: 50px;
    	left: 0;
    	right: 0;
    	color: #fff;
		z-index: 10;
		text-align: right;
		padding-right: 20px;
		line-height: 50px;
		font-size: 10px;
		.text{
			transform: rotate(180deg);
			display: inline-block;
		}
		@include breakpoint($planshetScreen) {
			display: none;
		}

    };
    .header-tape_checkbox:checked ~ .choice_sub-parm,
    .header-tape_checkbox:checked ~ .choice > .choice_item > .choice_service:not(:checked) + .choice_label,
    .header-tape_checkbox:checked ~ .choice_shade{
    	display: block;
    }
    .header-tape_checkbox:not(:checked) + .header-tape_toggle{
    	.text{
    		transform: rotate(0deg);
    	}
    }
    .header-tape_checkbox:not(:checked) ~ .choice{
    	border: none;
    }
    .choice_shade{
    	display: none;
    	position: inherit;
    	background: #333;
    	height: 100vh;
    	opacity: 0.5;
    }
    
   	.choice_sub-parm{
   		display: none;
   		padding: 25px 25px 25px 20px;
   		background: white;
   		&:after{
   			content: '';
   		};
   		@include breakpoint($planshetScreen) {
   			display: inline-block;
   			padding: 0px 0px 0px 15px;
   			width: 55%;
   			vertical-align: middle;
   			background: none;
   			height: 40px;
   		}
   		.whence, .where{
            height: 50px;
            width: 100%;
            display: inline-block;
            padding-left: 10px; 
            font-size: 18px;
            position: relative;
            @include breakpoint($planshetScreen) {
                height: 100%;
                width: 40%;
                border: 4px solid white;
                line-height: 100%;
                text-align: left;
            }   
            input{
                height: 100%;
                width: 80%;
                outline: none;
                border: none;
                background: none;
                color: $secondColor_answer;
                font-family: "Clear Sans Medium";
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;;
                text-transform: capitalize;
                @include breakpoint($planshetScreen) {
                    width: 80%;
                    color: white;
                    font-size: 14px;
                }
                @include input-placeholder {
                    color: $secondColor_answer;
                    opacity: 0.7;
                    @include breakpoint($planshetScreen) {
                    	color: white;
                    }
                }
            }
        }

        .whence:before, .where:before{
            margin-right: 10px;
            color: $meetColor;
            @include breakpoint($planshetScreen) {
            	color: white;
            	border-right: none;
            }
        }
        .whence{
            border: 4px solid $secondColor_L1;
            @include breakpoint($planshetScreen) {
            	border-color: white;
            }
        }
        .whence:before{
            font-family: 'GrVz';
            content: '\69';
            font-size: 16px;
            padding: 0 1.65px;
        }
        .where{
            border: 4px solid $secondColor_L1;
            border-top: none;
            @include breakpoint($planshetScreen) {
                /*width: 49.4%;*/
                border-top: 4px solid;
            	border-color: white;
            }   
        }
        .where:before{
            content: '\25CF';
            font-size: 32px;
            vertical-align: middle;
		    height: 90%;
		    display: inline-block;
		    line-height: 100%;
		    @include breakpoint($planshetScreen) {
		    	line-height: inherit;
		    }
        }
        .b-search{
        	vertical-align: top;
        	padding-left: 15px;
        	
        	input{
        		background: white;
        		color: $meetColor;
        		font-size: 14px;
        		font-weight: 500;
        		line-height: 36px;
				padding: 0px 15px;
	        	&:active{
	        		background: $meetColor;
	        		color: white;
	        	}
        	}
        }
   	}
    /*&:after{
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }*/
    .title{
        color: white;
        vertical-align: middle;
        padding: 13px 0;
        font-size: 36px;
    }
    .header-info{
    	background-color: $meetColor;
    	height: 100%;
    	width: 100%;
    }
    .choice_service{
        /*display: none;*/
        width: 0px;
        height: 0px;
        position: absolute;
        visibility: hidden;
    }
    .choice{
    	height: 100%;
		display: block;
		padding-top: 50px;
		position: relative;
		border-bottom: 4px solid $meetColor;
		user-select: none;
		@include breakpoint($planshetScreen) {
			width: 35%;
			height: 40px;
			vertical-align: middle;
			padding-top: 0px;
			text-align: left;
			font-size: 0px;
			display: inline-block;	
		}
    }

    .choice_label{
    	height: 50px;
    	display: block;
		text-align: left;
		min-width: 10%;
        cursor: pointer;
		background: white;
		user-select: none;
    	&:before{
    		min-width: 10%;
    		font-family: 'GrVz';
            font-size: 25px;
            display: inline-block;
            padding-right: 10px;
			line-height: 100%;
			height: 50%;
			vertical-align: middle;
			padding-left: 20px;
			color: $meetColor;
			 @include breakpoint($planshetScreen) {
			 	display: none;
			 }
    	};
        &:after{
            content:'';
            display: inline-block;
            height: 100%;
			vertical-align: middle;
        }
        @include breakpoint($planshetScreen) {
        	/*width: 45%;*/
			font-size: 14px;
			display: inline-block;
			width: 100%;
			height: 100%;
			text-align: center;
        }
        .text{
        	vertical-align: middle;
        	color: $meetColor;
        	user-select: none;
        }
    }
    .choice_item{
    	/*right: 0px;
		left: 0px;
		position: absolute;*/
		@include breakpoint($planshetScreen) {
			display: inline-block;
			width: 50%;
			border: 4px solid white;
			height: 100%;
			line-height: 100%;
		}
    }
    .choice_service:not(:checked) + .choice_label{
    	display: none;
    	@include breakpoint($planshetScreen) {
    		display: inline-block;
    		background-color: $meetColor;
    		.text{
    			color: #fff;
    		}
    	}
    }
    .choice_service:checked + .choice_label{
    	background-color: $meetColor;
    	position: absolute;
		top: 0px;
		right: 0px;
		left: 0px;
		&:before{
			color: #fff;
		}
		@include breakpoint($planshetScreen) {
			position: inherit;
			background-color: #fff;
    	}
		.text{
			color: #fff;
			@include breakpoint($planshetScreen) {
				color: $meetColor;
			}
		}		
    }
}
