@import "compass/css3/user-interface";
body{
    font-family: "Clear Sans Medium";
    padding-top: 75px;
    height: 100%;
    @include breakpoint($planshetScreen) {
        padding-top: 90px;
    }
    /*@include breakpoint($desktopScreen) {
        padding-top: 180px; 
    }*/
}
.main-over{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 150px;
    position: relative;
    @include breakpoint($planshetScreen) {
        padding-bottom: 90px; 
    }
    /*@include breakpoint($desktopScreen) {
        width: 1200px;
        margin: 0 auto;
    }*/
}
.over{
    width: 100%;
    margin: 0 auto;
    padding: 0px 25px;
    @include breakpoint($planshetScreen) {
        width: 100%;
        padding: 0px 65px;
        margin: 0 auto;
    }
}
#select-roles{
    background: linear-gradient(180deg, transparent 0%, black 400%),
                url("../img/background_s.png");

    background-position: center center;
    background-size: cover;
    /*height: 85vh;*/
    width: 100%;
    @include breakpoint($planshetScreen) {
        height: 420px;
        margin: 0 auto;
        background: linear-gradient(180deg, transparent 0%, black 400%),
                url("../img/main-image.jpg");
        background-size: 100% 100%;
    }
    .over{
        color: #fff;        
    }
    .top-title{
        padding-top: 35px;
        display: block;
        color: white;        
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        @include breakpoint($planshetScreen) {
            padding-top: 41px;
            font-family: "Clear Sans";
            width: 734px;
            font-size: 36px;
            line-height: 49px;
        }
    }
    .choice{
        height: 100px;
        width: 100%;
        display: inline-block;        
        @include breakpoint($planshetScreen) {
            width: 41.7%;     
            vertical-align: bottom;
            height: 100%;
        }
        .choice-ico{
            height: 50%;
            display: inline-block;
            width: 100%;
            padding: 0 10px;
            border: 4px solid #3fb34f;
            @include breakpoint($planshetScreen) {
                height: 100%;
                border: none;
                text-align: center;
                padding-bottom: 20px;
            }
            span{
                color: white;
                font-family: "Clear Sans Medium";
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                margin-left: 1em;
                @include breakpoint($planshetScreen) {
                    font-size: 14px;
                    margin: 0;
                    line-height: 21px;
                    font-family: "Clear Sans Light";
                }
            }
        }
        div:before{
            font-family: 'GrVz';
            font-size: 25px;
            vertical-align: sub;
            display: inline-block;
            width: 30px;
            @include breakpoint($planshetScreen) {
                font-size: 3.5em;
                width: 100%;
                text-align: center;
                background: none;
                padding-bottom: 10px;
            }
        }
        /*
        .take:before{
            content: '\65';
        }
        .pick-up:before{
            content: '\71';   
        }
        */  
        div:after{
            content:'';
            display: inline-block;
            height: 65%;
        }
        label{
            cursor: pointer;
            @include breakpoint($planshetScreen) {            
                display: inline-block;
                width: 49%;
                float: left;
            }
        }
        .beside{
            display: none;
            @include breakpoint($planshetScreen) {
                display: block;
                border: 4px solid #3fb34f;
                display: block;
                height: 50px;
                text-align: center;
                vertical-align: middle;
                font-family: "Clear Sans Light";
                text-transform: uppercase;
                font-size: 24px;
                padding-top: 4px;
            }
        } 

    }
    .b-search{
        @include breakpoint($planshetScreen) {
            display: inline-block;
            padding-left: 10px;
            padding-bottom: 3px;
        }
    }
    .between-point{
        height: 100px;
        margin-top: 25px;
        width: 100%;
        display: inline-block;
        @include breakpoint($planshetScreen) {
            text-align: left;
            height: 100%;
            margin-top: 0;
            width: 44.3%;
            vertical-align: bottom;
        }
        .description{
            display: none;
            @include breakpoint($planshetScreen) {
                display: inline-block;
                width: 100%;
                font-family: "Clear Sans Light";
                font-size: 16px;
                line-height: 21px;
                padding-bottom: 20px;
            }
        }
        .whence, .where{
            height: 50%;
            width: 100%;
            display: inline-block;
            padding-left: 10px; 
            font-size: 18px;
            position: relative;
            @include breakpoint($planshetScreen) {
                height: 50px;
                width: 49.4%;
            }   
            input{
                height: 100%;
                width: 80%;
                outline: none;
                border: none;
                background: none;
                color: white;
                font-family: "Clear Sans Medium";
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                text-transform: capitalize;
                @include breakpoint($planshetScreen) {
                    width: 48%;
                }
                @include input-placeholder {
                    color: white;
                    opacity: 0.7;
                }
            }
        }
        .whence:before, .where:before{
            margin-right: 10px;
            color: #3fb34f;
        }
        .whence{
            border: 4px solid white;
        }
        .whence:before{
            font-family: 'GrVz';
            content: '\69';
            font-size: 16px;
            padding: 0 1.65px;
        }
        .where{
            border: 4px solid white;
            border-top: none;
            @include breakpoint($planshetScreen) {
                width: 49.4%;
                border-top: 4px solid white;  
            }   
        }
        .where:before{
            content: '\25CF';
            font-size: 23px;
            line-height: 10%;
        }
    }
    .block-search{
        width: 100%;
        padding: 25px 0;
        .choice_service{
            /*display: none;*/
            width: 0px;
            height: 0px;
            position: absolute;
            visibility: hidden;
        }
        .choice_service:checked + label {
            div{
                background-color: #3fb34f;
                @include breakpoint($planshetScreen) {
                    background: none;
                }
            }
            .beside{
                background-color: #3fb34f;
            }
        }
        .choice_service:hover + label{
            position: relative;
            z-index: 1;
            div{
                position: relative;
                z-index: -1;
                border-color: #46c759;
                /*color: #46c759;*/
                @include breakpoint($planshetScreen) {
                    border-color: none;
                    color: #46c759;
                }
            }
            .beside{
                border-color: #46c759;
                color: #46c759;
                position: relative;
                z-index: -1;
            }
        }
        .choice_service:checked {
            &:hover + label{
                div{
                    background: #46c759;
                    @include breakpoint($planshetScreen) {
                        background: none;
                    }
                }
                .beside{
                    background: #46c759;
                    color: #fff;
                }
            }
        }
        @include breakpoint($planshetScreen) {
            text-align: center;
            padding: 65px 0 65px 0;
        }
    }
}

#missions{
    .over{
        padding: 25px 25px;
        @include breakpoint($planshetScreen) {
            padding: 44px 65px 62px 65px
        }
    }
    .content{
        width: 100%;
        display: inline-block;
        /*padding: 18px 8px;*/        
        p{
            color: black;
            font-family: "Clear Sans Light";
            font-size: 14px;
            line-height: 21px;
            padding-bottom: 25px;
            margin: 0;
        }
        @include breakpoint($planshetScreen) {
            padding-top: auto;
            width: 30%;
            vertical-align: top;
            margin: 0 40px 0 0;
        }
    }
    .content:last-child{
        margin: 0 0 0 0;
    }
    .title{
        line-height: 27px;
        padding-bottom: 10px;
        margin: 0;
        color: #3fb34f;
        font-family: "Clear Sans";
        font-size: 18px;
        line-height: 27px;
    }
}
.bottom-menu{
    /*padding-bottom: 25px;*/
    display: inline-block;
    text-align: left;
    padding-top: 15px;
    a:hover{
        text-decoration: underline;
    }
    @include breakpoint($planshetScreen) {
        display: inline-block;
    }
    li{
        @include breakpoint($planshetScreen) {
            display: inline-block;
            padding-right: 30px;
        }
    }
}
.more-text{
    color: #9b9b9b;
    font-family: "Clear Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.share-social{    
    vertical-align: middle;
    @include breakpoint($planshetScreen) {
        display: inline-block;        
        float: right;
        line-height: 440%;
    }
}
.m-padding-top{
    padding-top: 25px;
    @include breakpoint($planshetScreen) {
        padding-top: 0px;
    }
}

.padding-top{
    padding-top: 25px;
}



/*DEPTH*/
body.depth{    
    padding-top: 25px;
    @include breakpoint($planshetScreen) {
        padding-top: 165px;
    }
}
