.modal{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	display: none;
	z-index: 100;
	.over{		
		width: 95%;
		max-width: 340px;
		height: 80vh;
		max-height: 400px;
		background-color: white;
		border-radius: 6px;
		display: inline-block;
  		vertical-align: middle;
  		padding: 25px;
  		position: relative;
	}
	.btn-close {
	    color: #aaa;
	    cursor: pointer;
	    font-size: 30px;
	    text-decoration: none;
	    position: absolute;
	    right: 5px;
	    top: 0;
	}
	.btn-close:hover {
	    color: red;
	}
	.modal-social{
		/*width: 217px;
		height: 40px;*/		
		border-radius: 6px;
		color: white;
		font-family: "Clear Sans Medium";
		font-size: 14px;
		font-weight: 400;
		/*line-height: 19px;*/
		margin: 10px 0;
		width: auto;
		display: inline-block;
		position: relative;
		a{
			height: 100%;
			display: inline-block;
			line-height: 100%;
			width: 100%;
			padding: 10px 20px;
		}
	}
	.modal-social.vk{
		background-color: #568ecd;
	}
	.modal-social.fb{
		background-color: #4d68a4;
	}
	.soc-ico{
		font-family: 'GrVz'; 
    	font-size: 1.8em;
    	padding-right: 10px;
	}
	.modal_input-text{
		background-color: white;
		border: 2px solid #d5d5d5;
		border-radius: 6px;
		padding: 10px;
		display: block;
		margin: 28px auto 0 auto;
		width: 70%;
		@include input-placeholder {
			color: #9b9b9b;
			font-family: "Clear Sans";
			font-size: 14px;
			font-weight: 400;
			/*line-height: 19px;*/
		}
	}
		
}
.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.modal-wrap{
	input[name="modal-1"]:checked ~ .modal{
		display: block;
	} ;
}

.modal-open:checked ~ .modal{
    display: block;
}