#select-roles.order {
    height: auto;
    background: none;
    .block-search {
        padding: 0;
    }
    .choice {
        height: 130px;
        .choice_service:checked + label {
            color: #fff;
        }
        .choice_service + label {
            color: #3fb34f;
        }
        .choice-ico {
            height: 50%;
            span {
                color: #000;
            }
            &.take:before {
                left: -100%;
            }
            &.pick-up:before {
                left: 100%;
            }
        }
        .choice-ico:before {
            color: #3fb34f;
            position: relative;
            top: 103px;
            height: 51px;
        }
    }
}
.order-form {
    .map-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .map {
            width: 100%;
            margin: 0 30px;
            border: 1px solid black;
        }
    }
    .field-column {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .field-row {
        margin-bottom: 25px;
        input[type=radio] {
            display: none;
        }
        label.radio {
            border: 2px solid #3fb34f;
            border-radius: 6px;
            padding: 6px;
            background: #fff;
            color: #3fb34f;
            font-weight: 500;
            cursor: pointer;
        }
        input:checked + label.radio {
            background: #3fb34f !important;
            color: #fff;
        }
    }
    .field-wrap {
        border: 2px solid #d5d5d5;
        border-radius: 6px;
        height: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input:focus {
            outline: none;
        }
        input[type=text] {
            width: 100%;
            height: 100%;
            border-radius: 6px;
            @include input-placeholder {
                font-size: 14px;
            }
        }
        label.text {
            margin-right: 5px;
        }
        label.text[for=from]:before {
            content: "i";
            font-family: "GrVz";
            color: #3fb34f;
            margin-left: 7px;
            margin-right: 7px;
            vertical-align: baseline;
        }
        label.text[for=to]:before {
            content: "\2B24";
            color: #f75f71;
            margin-left: 5px;
            font-size: 17px;
            bottom: 2px;
            margin-right: 4px;
            position: relative;
        }
        input.date {
            width: 80px;
            @include input-placeholder {
                font-size: 14px;
            }
        }
        input.time {
            width: 70px;
            margin-left: 10px;
            @include input-placeholder {
                font-size: 14px;
            }
        }
    }
    .datepicker-wrap:before {
        content: "w";
        font-family: "GrVz";
        color: #9b9b9b;
        font-size: 16px;
        margin-left: 7px;
        margin-right: 7px;
        vertical-align: baseline;
    }
    .field-form {
        min-width: 310px;
        color: #9b9b9b;
        font-size: 14px;
    }
    .field-section {
        margin-top: 55px;
        border-top: 2px solid #d5d5d5;
        padding-top: 44px;
    }
    .cargo-params {
        display: flex;
        align-items: center;
        margin-top: 28px;
        label {
            font-size: 14px;
            margin-left: 10px;
            margin-right: 30px;
        }
        input {
            margin-left: 10px;
        }
        .super {
            vertical-align: super;
            font-size: 0.7em;
        }
    }
    .cargo-type {
        .field-row {
            display: flex;
            flex-direction: row;
        }
        .field-column {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-right: 100px;
        }
        input {
            display: none;
        }
        label {
            font-size: 14px;
            margin-left: 44px;
            margin-top: 20px;
        }
        label:before {
            font-family: "GrVz";
            font-size: 18px;
            color: #d5d5d5;
            margin-right: 7px;
            vertical-align: baseline;
            position: absolute;
            margin-left: -44px;
        }
        label[for=fragile]:before {
            content: "u";
        }
        label[for=vertical]:before {
            content: "p";
        }
        label[for=dry]:before {
            content: "o";
        }
        label[for=danger]:before {
            content: "r";
            margin-left: -39px;
        }
        input:checked + label {
            color: #3fb34f;
            &:before {
                color: #3fb34f;
            }
        }
    }
    .price {
        padding-top: 40px;
        .slider-row {
            padding-bottom: 0px;
            padding-top: 10px;
        }
        .field-row {
            display: flex;
            margin-bottom: 0px;
        }
        .noUi-horizontal {
            height: 1px;
            width: 26%;
            margin-left: 2.5em;
            margin-top: 22px;
            &:before {
                left: -2.5em;
                color: #2bac3d;
            }
            &:after {
                right: -3.0em;
                color: #f75f71;
            }
            .noUi-handle {
                width: 17px;
                height: 17px;
                top: -8px;
                background-color: #f5a623;
                .noUi-tooltip {
                    color: #f5a623;
                    border: none;
                    top: -22px;
                }
            }
        }
        #price-value {
            margin-left: 110px;
            color: #f5a623;
            font-size: 30px;
            border: 2px solid #f5a623;
            border-radius: 5px;
            padding: 5px 18px;
        }
    }
    .accept {
        margin-top: 34px;
        input[type=checkbox] {
            display: none;
        }
        label:before {
            font-family: "GrVz";
            font-size: 9px;
            margin-right: 7px;
            content: "t";
            border: 2px solid #d5d5d5;
            border-radius: 6px;
            padding: 8px 5px;
            color: #d5d5d5;
        }
        input:checked + label {
            &:before {
                color: #3fb34f;
                border: 2px solid #3fb34f;
            }
        }
        .agreement {
            margin-left: 8px;
            font-size: 14px;
            line-height: 1.45em;
        }
        .field-column {
            justify-content: flex-start;
        }
    }
    a {
        color: #3fb34f;
        text-decoration: underline;
        font-weight: bold;
    }
    .buttons {
        margin-top: 38px;
        .submit {
            margin-left: 250px;
        }
    }
}
