.content{

}
.content-sitebar{
	display: none;
	/*height: 100vh;*/
	background-color: #f8f8f8;
	width: 80%;
	text-align: center;
	position: absolute;
	/*top: 190px; */
	top: 0;
	right: 0;
	padding: 10px 20px 30px 10px;
	z-index: 99;

	@include breakpoint($planshetScreen){
		width: 34%;
		position: relative;
		display: inline-block;
		vertical-align: top;
		z-index: 50;
	}
	hr{
		color: $secondColor_L1;
    	background-color: $secondColor_L1; 
    	height: 2px;
		border: none;
		margin-top: 10px;
		clear: both;
	}

	.tit_s-bar{
		font-size: 14px;
  		font-weight: 500;
  		display: inline-block;
		width: 100%;
		text-align: left;
		padding: 10px 0;
	}
	.tit_s-row{
		font-size: 14px;
  		font-weight: 500;
  		display: inline-block;
		width: 45%;
		text-align: left;
		padding: 5px 0;
	}
	.calendar{
		font-size: 14px;
  		font-weight: 500;
  		display: inline-block;
		width: 90%;
		text-align: center;
		padding: 5px 5px 5px 30px;
		white-space: pre-line;
	}
	.wrap-before{
		position: relative;
		white-space: pre-line;
		display: inline-block;
		width: 50%;
	}
	.calendar + label{		
	    display: inline-block;
	  	vertical-align: middle;
	  	width: 0;
	  	&:before{
	  		font-family: 'GrVz';
			content: '\77';
			font-size: 17px;
			padding: 0 1.65px;
			position: absolute;
			left: 5px;
			top: 25%;
			color: $secondColor_L2;
	  	}
	}
	.value{
		color: $meetColor;
		padding-left: 5px;
	}
	.action-button{
		float: left;
		clear: both;
		margin: 10px 0 0 0;
		input{
			font-family: ClearSans;
		  	font-size: 14px;
		  	font-weight: 500;
		  	color: #ffffff;
		  	line-height: initial;
		}
	}
	.action-button.low{
		margin: 10px 0 10px 0;
		input{
			color: #f75f71;
			background: white;
		}
	}
	.action-button.average{
		input{
			background-color: #f5a623;
	  		border: solid 2px #f5a623;
	  	}
	}
	.action-button.nice{
		input{
			background: $meetColor;
			border: solid 2px $meetColor;
		}
	}
}

.check_sitebar:checked + .content-sitebar{
	display: block;
}

.check_sitebar:checked + .content-sitebar ~ * {
	/*position: fixed;
	left: -82%; */
	position: inherit;
	left: -95%;
}
.check_sitebar:not(:checked) ~ .beneath-header{
	position: fixed;	
}
.check_sitebar:checked ~ .beneath-header{
	position: fixed;
	width: 113%;
}

/* For this slider, disable the 'origin' size. */
#connect .noUi-origin {
	right: auto;
	width: 0;
}

/* Position the bar and color it. */
#connect .connect {
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: $meetColor;
	/*background: #80C9F5;*/
	/*box-shadow: inset 0 0 3px rgba(51,51,51,0.45);*/
}

/* When the slider is moved by tap,
   transition the connect bar like the handle. */
#connect.noUi-state-tap .connect {
-webkit-transition: left 300ms, right 300ms;
	transition: left 300ms, right 300ms;
}

.zi-slid{
	height: 2px;
	border: none;
	background: $secondColor_L1;
	box-shadow: none;	
	&:before{
		content: attr(data-min);
		position: absolute;
		left: -1.6em;
		top: -0.5em;
		color: $secondColor_L2;
		font-family: ClearSans;
		font-size: 14px;
		font-weight: normal;
		text-align: center;
	}
	&:after{
		content: attr(data-max);
		position: absolute;
		right: -1.8em;
		top: -0.5em;
		color: $secondColor_L2;
		font-family: ClearSans;
		font-size: 14px;
		font-weight: normal;
		text-align: center;
	}
}

.noUi-horizontal .noUi-handle{
	width: 16px;
	height: 16px;
	background-color: $meetColor;
	border-radius: 50%;
	border: none;
	box-shadow: none;
	/*left: -7px;*/
	&:before{
		display: none;
	}
	&:after{
		display: none;
	}
}
.noUi-handle.noUi-handle-upper {
	left: -15px;
}
.noUi-handle.noUi-handle-lower{
	left: 0px;
}

.noUi-tooltip{
	background: none;
	border: none;
	font-family: ClearSans;
  	font-size: 12px;
  	font-weight: 300;
  	color: $meetColor;

}

.noUi-horizontal .noUi-handle-upper .noUi-tooltip{
	bottom: -20px;
	left: -6px;
}

.noUi-horizontal .noUi-handle-lower .noUi-tooltip{
	top: -23px;
	left: -1.3em;
	display: inline-block;
	width: 4em;
	text-align: center;
}
.sitebar-row{
	width: 100%;
	display: inline-block;
	text-align: justify;
  	text-align-last: justify;
	-moz-text-align-last: justify;
	white-space: nowrap;
	.tit_row{
		text-align: left;
		display: inline-block;
		white-space: pre;
		padding-right: 15px;
	}
}
.slider-row{
	width: 80%;
	display: inline-block;
	padding: 25px 0 20px 0;
}