header {    
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10000;
    #head-menu{
        padding: 10px 0;
        float: right;
        @include breakpoint($planshetScreen) {
            padding: 20px 0px;
        }
    }
    .header-over{
        max-width: 1024px;
        margin: 0 auto;
    }
    .fix-nav{
        padding: 15px 20px;
        /*height: 100%;        */
        background: white;
        height: 75px;
        li{
            float: left;
            margin: 0 15px;    
            span{
                /*text-decoration: none;*/
                color: #9b9b9b;
                cursor: pointer;
                font-family: "Clear Sans Medium";
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                @include breakpoint($planshetScreen) {
                    font-family: "Clear Sans";
                }
            }
            span:hover{
                color: #3fb34f;
            }
        }
        &:after{
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        };
        @include breakpoint($planshetScreen) {
            height: 90px;
            padding: 15px 55px;
        }
    }
    .logo{
        /*float: left;*/
        background: url("../img/logo-small.png");
        display: inline-block;
        width: 64px;
        height: 45px;
        background-size: cover;
        vertical-align: middle;
        @include breakpoint($planshetScreen) {
            background: url("../img/logo-big.png");
            width: 86px;
            height: 60px;
            background-size: cover;
        }
    }
    .depth{
        .fix-nav{
            @include breakpoint($planshetScreen) {
                height: 75px;        
            }
        }
        .logo{
            width: 64px;
            height: 45px;
        }
    }
    @include breakpoint($planshetScreen) {
        /*height: 90px;*/
    }
}
.wrapper{
    position: relative;
    margin: 0 auto;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 100%;
    text-align: center;

    @include breakpoint($planshetScreen) {
        height: 90px;
        padding-top: 0px;
        width:100%;
        &:before{
            content: '';
            /*display: inline-block;*/
            width: 0px;
            height: 100%;
            vertical-align: middle;
        }
    }
    .over{
        height: 100%;
        vertical-align: middle;
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        display: inline-block;
        &:before{
            content: '';
            display: inline-block;
            @include breakpoint($planshetScreen) {
                height: 100%;
                vertical-align: middle;
            }
        }
    }
    .social{
        font-family: 'GrVz'; 
        font-size: 1.8em;   
        margin-left: 10px;
    }
    .fb{
        color: #4d68a4;
    }
    .vk{
        color: #568ecd;
    }
}
