/*$icons: sprite-map("icons/*.png");
.icon{background: $icons;}
*/
$default-box-shadow-color: #9f9f9f;
$experimental-support-for-svg: true;
$mobileScreen: screen  320px;
/*$planshetScreen: screen 739px;*/
$planshetScreen: screen 1024px;
$desktopScreen: screen 1200px;
$BigScreen: screen 1600px;
@mixin linear_gradient($color_begin, $color_stop)
{
    background: $color_stop;
    @include filter-gradient($color_begin, $color_stop);
    @include background-image (linear-gradient(top, $color_begin, $color_stop));
}

@mixin spriter($name) {
    background-position: sprite-position($icons, $name);
    @include sprite-dimensions($icons, $name);
}
@mixin opacity($trans) {
  filter: alpha(opactiy=($trans * 100));
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
  -moz-opacity: $trans;
  -khtml-opacity: $trans;
  opacity: $trans;
}
@mixin justifyer($childs, $width, $height, $size: 14px, $lh: normal){
    text-align: justify;
    line-height: 0;
    font-size: 1px;
    text-justify: newspaper;
    zoom:1;
    text-align-last: justify;
    &:after {
        width: 100%;
        height: 0px;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;
    }
    #{$childs}{
        @include inline-block;
        width: $width;
        height: $height;
        text-align: left;
        line-height: $lh;
        font-size: $size;
        line-height: normal;

    }
}

$meetColor: #3fb34f;
$meetColor_answer: #46c759;
$secondColor_L1: #d5d5d5;
$secondColor_L2: #9b9b9b;
$secondColor_answer: #6c6874;

@mixin interaction_border(){
    border: 2px solid $secondColor_L1;
    border-radius: 6px;
    /*padding: 5px;*/
}

@mixin interaction_font($size: 14px, $family: "Clear Sans"){
    font-family: $family;
    font-size: $size;
    font-weight: 400;
    line-height: $size*1.5;
    /*line-height: 19px;*/
}

.take:before{
    content: '\65';
}
.pick-up:before{
    content: '\71';   
}


.input_hide{
    width: 0px;
    height: 0px;
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 0;
}
.b-f-size-14{
    input{
        font-size: 14px;
    }
}