//PT SANS - uncoment for including
//@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
/*@mixin fonter($size, $weight, $lh){
  font-family: 'Open Sans', sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $lh;
}*/



// OPEN SANS - uncomment for nicluding
//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic&subset=latin,cyrillic);
/*@mixin fonter($size, $weight, $lh){
  font-family: 'PT Sans', sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $lh;
}*/
