.carrier-search {
    .form-client-type {
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        .col {
            padding-left: 0px;
            padding-right: 0px;
        }
        label[for=carrier] {
            float: right;
        }
        label[for=customer] {
            float: left;
        }
        label {
            font-family: "Clear Sans Light";
            color: #fff;
            .btn {
                border-radius: 0;
                background: transparent;
                border: 4px solid #fff;
                color: #fff;
                font-size: 14px;
                font-family: "Clear Sans Medium";
                padding-top: 5px;
                margin-top: 21px;
            }
        }
        input {
            visibility: hidden;
            position: fixed;
        }
        input:checked+label {
            .btn {
                background: #fff;
                color: #3fb34f;
            }
        }
    }
    .form-direction {
        margin-top: 21px;
        display: flex;
        justify-content: center;
        .from, .to {
            border: 4px solid white;
            height: 38px;
            width: 50%;
            display: flex;
            input {
                height: 100%;
                width: 100%;
                background: none;
                color: #fff;
                border: none;
                font-size: 18px;
                &:focus {
                    border: none;
                    outline: none;
                }
                @include input-placeholder {
                    color: #fff;
                }
            }
            &:before {
                font-family: 'GrVz';
                content: '\69';
                font-size: 16px;
                padding: 5px 11px 0px 9px;
            }
        }
        .from {
            border-right: 2px solid white;
            &:before {
                color: #fff;
            }
        }
        .to {
            border-left: 2px solid white;
            &:before {
                content: '\25CF';
                font-size: 35px;
                color: #fff;
                padding-top: 0px;
                margin-top: -12px;
            }
        }
    }
    .form-button {
        margin-top: 20px;
        button {
            background: #fff;
            color: #3fb34f;
            height: 40px;
        }
    }
    .search-body {
        margin-top: 20px;
        label {
            margin-bottom: 0px;
            margin-left: 5px;
            margin-right: 5px;
            color: #3fb34f;
            .btn-success {
                color: #3fb34f;
                background: transparent;
                border-width: 2px;
            }
            &[for=time] {
                margin-left: 25px;
            }
        }
        input[type=radio] {
            visibility: hidden;
            position: fixed;
        }
        input:checked+label {
            .btn-success {
                background: #3fb34f;
                color: #fff;
            }
        }
        select {
            margin-left: 5px;
            margin-right: 5px;
            color: #9b9b9b;
        }
    }
    .order-panel {
        margin-bottom: 10px;
    }
    .carrier-card {
        border: 2px solid #d5d5d5;
        border-radius: 6px;
        margin-top: 22px;
        padding: 10px;
        .driver-card {
            padding: 20px;
            padding-left: 30px;
            border-right: 2px solid #d5d5d5;
            .driver-photo {
                &:before {
                    font-family: 'GrVz';
                    content: '\73';
                    font-size: 50px;
                    color: #3fb34f;
                    position: absolute;
                    top: -20px;
                }
            }
            .driver-name {
                font-family: "Clear Sans Light";
                font-size: 14px;
            }
            .driver-age {
                font-family: "Clear Sans Light";
                font-size: 14px;
                margin-top: 20px;
            }
            .driver-feedback {
                margin-top: 15px;
                .btn {
                    color: #3fb34f;
                    font-family: "Clear Sans Light";
                    background: transparent;
                    border-width: 2px;
                    width: 150px;
                }
            }
            .driver-indicator {
                margin-top: 20px;
                padding-left: 30px;
                .item {
                    background-color: #d5d5d5;
                    height: 6px;
                    padding: 0px;
                    width: 18px;
                    margin-right: 5px;
                    &.active {
                        background-color: #f75f71;
                    }
                }
            }
        }
        .vehicle-card {
            .icon {
                &:before {
                    font-family: 'GrVz';
                    font-size: 35px;
                    font-weight: 400;
                    vertical-align: sub;
                    display: inline-block;
                    width: 100%;
                    color: #3fb34f;
                    content: '\65';
                }
            }
            .cargo-type {
                width: 174px;
                padding: 5px 0px 5px 15px;
                border: 2px solid #d5d5d5;
                border-radius: 6px;
                label {
                    margin-right: 12px;
                    &:before {
                        font-family: 'GrVz';
                        font-size: 20px;
                        font-weight: 400;
                        vertical-align: sub;
                        display: inline-block;
                        width: 100%;
                        content: '\75';
                        color: #d5d5d5;
                    }
                }
                label[for=vertical]:before {
                    content: '\70';
                }
                label[for=dry]:before {
                    content: '\6F';
                }
                label[for=danger]:before {
                    content: '\72';
                }
                input[type=checkbox] {
                    visibility: hidden;
                    position: fixed;
                }
                input:checked+label {
                    &:before {
                        color: #3fb34f;
                    }
                }
            }
            .vehicle-model {
                margin-top: 20px;
                padding-left: 30px;
                font-family: "Clear Sans Light";
                color: #3fb34f;
            }
            .vehicle-volume {
                font-family: "Clear Sans Light";
                padding-left: 30px;
                .volume {
                    margin-top: 20px;
                    color: #3fb34f;
                    font-size: 24px;
                }
            }
        }
        .src-dst-row {
            padding: 10px 30px 10px 30px;
            .src-dst {
                padding-top: 11px;
                border-top: 2px solid #d5d5d5;
                .row {
                    padding-top: 10px;
                }
                .green {
                    color: #3fb34f;
                }
                .from, .to {
                    font-family: "Clear Sans Light";
                    padding-left: 25px;
                    p {
                        line-height: 0.8;
                    }
                    &:before {
                        font-family: 'GrVz';
                        content: '\69';
                        font-size: 16px;
                        position: absolute;
                        top: -5px;
                        left: 0px;
                        color: #3fb34f;
                    }
                }
                .contacts, .price {
                    font-family: "Clear Sans Medium";
                    text-align: right;
                    padding-right: 0px;
                }
                .price {
                    color: #3fb34f;
                    font-family: "Clear Sans Light";
                    h2 {
                        margin-top: 0px;
                    }
                }
            }
        }
    }
    .filter-panel {
        padding-right: 21px;
        font-family: "Clear Sans Medium";
        .panel {
            background-color: #f8f8f8;
            border-radius: 0;
            padding: 30px;
            label {
                color: #000;
                margin-left: 0;
                margin-right: 10px;
                font-weight: 500;
            }
            span.offers, span.distance {
                color: #3fb34f;
            }
            hr {
                border-top: 2px solid #d5d5d5;
            }
            input[type=checkbox] {
                visibility: hidden;
                position: fixed;
            }
            .price-buttons {
                label {
                    display: block;
                    margin-top: 10px;
                    .btn-warning {
                        color: #eea236;
                        background: transparent;
                    }
                    .btn-danger {
                        color: #d43f3a;
                        background: transparent;
                    }
                }
                input:checked+label {
                    .btn-warning {
                        background: #eea236;
                        color: #fff;
                    }
                    .btn-danger {
                        background: #d43f3a;
                        color: #fff;
                    }
                }
            }
        }
    }
}
