@font-face {
	font-family: 'Clear Sans'; /* Гарнитура шрифта */
	src: url(../fonts/clearsans/clearsans.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: 'Clear Sans Medium'; /* Гарнитура шрифта */
	src: url(../fonts/clearsans/clearsansmedium.ttf); /* Путь к файлу со шрифтом */
}
@font-face { 
	font-family: 'Clear Sans Light'; /* Гарнитура шрифта */
	src: url(../fonts/clearsans/clearsanslight.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: 'GrVz'; /* Гарнитура шрифта */
	src: url(../fonts/gruzi-vezi.ttf); /* Путь к файлу со шрифтом */
}
