html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 90px;
}
.footer {
    position: absolute;
    bottom: 0;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
        color: #9b9b9b;
        font-size: 18px;
        &:hover {
            color: #3fb34f;
            background-color: transparent;
            text-decoration: none;
        }
    }
    p {
        color: #9b9b9b;
        font-size: 18px;
        float: left;
    }
    .icon {
        font-size: 2.2em;
    }
}
