header {
    height: 90px;
    .navbar-brand {
        padding-left: 80px;
        img {
            height: 60px;
        }
    }
    .nav-pills {
        margin-top: 25px;
        margin-right: 50px;
        a {
            color: #9b9b9b;
            font-size: 18px;
            &:hover {
                color: #3fb34f;
                background-color: transparent;
            }
        }
    }
}
