.modal-dialog-login {
    width: 340px;
}
.login-modal-body {
    margin: 45px;
    form {
        text-align: center;
        input {
            width: 242px;
            display: inline-block;
            margin-top: 14px;
            margin-left: -12px;
        }
    }
    .btn-login {
        margin-top: 14px;
        width: 162px;
    }
    .btn-vk, .btn-fb {
        font-family: "Clear Sans Medium";
        width: 218px;
        height: 42px;
        margin-bottom: 4px;
        padding-left: 45px;
        position: relative;
        &:before {
            font-family: 'GrVz';
            font-size: 25px;
            display: inline-block;
            content: '\61';
            position: absolute;
            top: 3px;
            left: 15px;
        }
    }
    .btn-vk {
        background-color: #568ecd;
    }
    .btn-fb {
        background-color: #4d68a4;
        &:before {
            content: '\79';
        }
    }
}
