.main-page {
    .jumbotron {
        border-radius: 0;
        margin: 0 auto;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 90%, #000000 100%), url(../img/main-image.jpg);
        background-size: 100% 100%;
        height: 420px;
        h1 {
            font-size: 36px;
            color: #fff;
            margin-bottom: 60px;
        }
        .btn {
            height: 50px;
        }
        .row {
            margin-bottom: 20px;
            margin-left: 0px;
            margin-right: 0px;
        }
        .description {
            color: #fff;
            font-size: 16px;
        }
        .form-client-type {
            text-align: center;
            padding-left: 0px;
            padding-right: 0px;
            .col {
                padding-left: 0px;
                padding-right: 0px;
            }
            label {
                font-family: "Clear Sans Light";
                color: #fff;
                &:before {
                    font-family: 'GrVz';
                    font-size: 3.5em;
                    font-weight: 400;
                    vertical-align: sub;
                    display: inline-block;
                    width: 100%;
                    content: '\65';
                }
                .btn {
                    border-radius: 0;
                    width: 100%;
                    background: transparent;
                    border: 4px solid #3fb34f;
                    color: #fff;
                    font-size: 24px;
                    padding-top: 5px;
                    margin-top: 21px;
                }
            }
            input {
                visibility: hidden;
                position: fixed;
            }
            input:hover+label {
                &:before, .btn {
                    color: #46c759;
                }
            }
            input:checked+label {
                .btn {
                    background: #3fb34f;
                    color: #fff;
                }
            }
        }
        .form-direction {
            display: flex;
            justify-content: center;
            .from, .to {
                border: 4px solid white;
                height: 50px;
                width: 50%;
                display: flex;
                input {
                    height: 100%;
                    width: 100%;
                    background: none;
                    color: #fff;
                    border: none;
                    font-size: 18px;
                    &:focus {
                        border: none;
                        outline: none;
                    }
                }
                &:before {
                    font-family: 'GrVz';
                    content: '\69';
                    font-size: 16px;
                    padding: 10px 11px 0px 9px;
                }
            }
            .from {
                border-right: 2px solid white;
                &:before {
                    color: #3fb34f;
                }
            }
            .to {
                border-left: 2px solid white;
                &:before {
                    content: '\25CF';
                    font-size: 23px;
                    color: #f75f71;
                    padding-top: 4px;
                }
            }
        }
        .form-button {
            height: 50px;
        }
    }
    .promo {
        margin-top: 30px;
        margin-left: 45px;
        margin-right: 45px;
        button {
            margin-right: 25px;
        }
        h4 {
            color: #3fb34f;
        }
    }
}
