.registration {
    form {
        margin-top: 50px;
        .form-group {
            margin-bottom: 30px;
        }
        .form-inline {
            display: flex;
            justify-content: space-between;
            .btn {
                border: 2px solid #ccc;
            }
        }
        input[type=radio] {
            visibility: hidden;
            &:checked+label {
                .btn {
                    border-color: #3fb34f;
                }
            }
        }
        .form-button {
            text-align: center;
        }
    }
    .agreement {
        text-align: justify;
        a {
            color: #3fb34f;
            text-decoration: underline;
        }
    }
}
