datepicker-ionic {
    margin-top: -3px !important;
    float: right;
    .ui-kit-calendar-container {
        .ui-kit-calendar-input {
            border-radius: 0 !important;
            height: 30px !important;
            border: 2px solid #d5d5d5 !important;
            width: 100% !important;
            font-size: 12px !important;
            color: #9b9b9b;
            background: #fff !important;
            &.opened {
                color: #3fb34f !important;
            }
            span {
                display: inline !important;
                margin-right: 0px !important;
            }
            .ion-ios-calendar-outline {
                &:before {
                    color: #9b9b9b;
                    content: '\77';
                    font-family: 'GrVz';
                    font-style: normal;
                    position: absolute;
                    top: 3px;
                    left: 15px;
                    font-size: 18px;
                }
            }
        }
    }
    .ui-kit-calendar-cal-container {
        background: #3fb34f !important;
        &:after {
            border-left: 15px solid #3fb34f !important;
        }
        .ui-kit-calendar-day-names {
            background: #fff !important;
            color: #3fb34f !important;
        }
        .ion-arrow-right-b, .ion-arrow-left-b {
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            &:before {
                content: "\e080";
            }
        }
        .ion-arrow-left-b {
            &:before {
                content: "\e079";
            }
        }
    }
}
