<div class="container">
    <header class="clearfix">
        <nav>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Грузи-Вези" src="/asset/img/logo-big.png">
                </a>
            </div>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" routerLink="/registration"><a href="/registration">Регистрация</a></li>
                <li role="presentation" (click)="onClickLogin($event)"><a href="#">Вход</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <footer class="footer">
        <div clas="row">
            <div class="container">
                <div class="col-md-3">
                    <a href="#">Условия исползования</a>
                </div>
                <div class="col-md-2">
                    <a href="#">О сервисе</a>
                </div>
                <div class="col-md-4">
                    <a href="#">Контакты</a>
                </div>
                <div class="col-md-3">
                    <p>Поделиться:</p>
                    <span class="glyphicon icon fb">y</span>
                    <span class="glyphicon icon vk">y</span>
                </div>
            </div>
        </div>
    </footer>
    <span defaultOverlayTarget></span>
</div> 
