<div class="container carrier-search">
    <div class="row">
        <div class="col-lg-12 page-subheader">
            <form ngNoForm>
                <div class="row">
                    <div class="col-lg-5 form-client-type">
                        <div class="row">
                            <div class="col col-lg-6">
                                <input type="radio" name="client-type" id="carrier" value="carrier">
                                <label for="carrier">
                                    <div class="btn btn-success">Я могу отвезти груз</div>
                                </label>
                            </div>
                            <div class="col col-lg-6">
                                <input type="radio" name="client-type" id="customer" value="customer" checked>
                                <label for="customer">
                                    <div class="btn btn-success">Мне нужен перевозчик</div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 form-direction">
                        <div class="from">
                            <input type="text" placeholder="От">
                        </div>
                        <div class="to">
                            <input type="text" placeholder="До">
                        </div>
                    </div>
                    <div class="col-lg-2 form-button">
                        <button class="btn btn-success">Найти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container search-body">
        <div class="row">
            <div class="col-lg-4 filter-panel">
                <div class="panel">
                    <form ngNoForm>
                        <div class="form-group">
                            <label for="offers">Предложений:</label>
                            <span class="offers">265</span>
                        </div>
                        <div class="form-group">
                            <label for="distance">Расстояние:</label>
                            <span class="distance">3200 км</span>
                        </div>
                        <div class="form-group">
                            <hr>
                        </div>
                        <div class="form-group">
                            <label for="load-date">Дата погрузки:</label>
                            <datepicker-ionic singleSelect locale="ru" viewFormat="DD/MM/YYYY" ([ngModel])="date" value="date"></datepicker-ionic>
                        </div>
                        <div class="form-group">
                            <hr>
                        </div>
                        <div class="form-group">
                            <label for="load-date">Время (часы)</label>
                            <nouislider
                                [(ngModel)]="loadTimeRange"
                                [config]="loadTimeRangeConfig">
                            </nouislider>
                        </div>
                        <div class="form-group">
                            <hr>
                        </div>
                        <div class="form-group price-buttons">
                            <label for="price">Цена</label>
                            <input type="checkbox" class="form-control" id="best-price" value="fragile" name="cargo-type" checked>
                            <label for="best-price">
                                <div class="btn btn-success">Лучшая (1)</div>
                            </label>
                            <input type="checkbox" class="form-control" id="medium-price" value="fragile" name="cargo-type" checked>
                            <label for="medium-price">
                                <div class="btn btn-warning">Средняя (25)</div>
                            </label>
                            <input type="checkbox" class="form-control" id="high-price" value="fragile" name="cargo-type">
                            <label for="high-price">
                                <div class="btn btn-danger">Высокая (8)</div>
                            </label>
                        </div>
                        <div class="form-group">
                            <hr>
                        </div>
                        <div class="form-group">
                            <label for="weight">Масса груза (кг)</label>
                            <nouislider
                                [(ngModel)]="weightRange"
                                [config]="weightRangeConfig">
                            </nouislider>
                        </div>
                        <div class="form-group">
                            <hr>
                        </div>
                        <div class="form-group">
                            <label for="value">Объём груза (м)</label>
                            <nouislider
                                [(ngModel)]="valueRange"
                                [config]="valueRangeConfig">
                            </nouislider>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row order-panel">
                    <div class="col-lg-12">
                        <form class="form-inline" ngNoForm>
                            <div class="form-group">
                                <label for="sort">Сортировка:</label>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="sortby" id="price" value="price" checked>
                                <label for="price">
                                    <div class="btn btn-success">Цена</div>
                                </label>
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option>По возрастанию</option>
                                    <option>По убыванию</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="sortby" id="time" value="time">
                                <label for="time">
                                    <div class="btn btn-success">Погрузка</div>
                                </label>
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option>Не скоро</option>
                                    <option>Скоро</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="carrier-card">
                            <div class="row">
                                <div class="col-lg-5 driver-card">
                                    <div class="row">
                                        <div class="col-lg-3 driver-photo">
                                        </div>
                                        <div class="col-lg-9 driver-name">
                                            Сергей<br>
                                            Сергеев
                                        </div>
                                    </div>
                                    <div class="row driver-age">
                                        <div class="col-lg-12">
                                            Возраст: 31 лет
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 driver-feedback">
                                            <div class="btn btn-success">
                                                Отзывы: 2
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 driver-indicator">
                                            <div class="row">
                                                <div class="col-lg-2 item active"></div>
                                                <div class="col-lg-2 item active"></div>
                                                <div class="col-lg-2 item active"></div>
                                                <div class="col-lg-2 item"></div>
                                                <div class="col-lg-2 item"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 vehicle-card">
                                    <div class="row">
                                        <div class="col-lg-2 icon"></div>
                                        <div class="col-lg-8 cargo-type">
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <input type="checkbox" class="form-control" id="fragile" value="fragile" name="cargo-type" checked>
                                                    <label for="fragile"></label>
                                                </div>
                                                <div class="form-group">
                                                    <input type="checkbox" class="form-control" id="vertical" value="vertical" name="cargo-type">
                                                    <label for="vertical"></label>
                                                </div>
                                                <div class="form-group">
                                                    <input type="checkbox" class="form-control" id="dry" value="dry" name="cargo-type" checked>
                                                    <label for="dry"></label>
                                                </div>
                                                <div class="form-group">
                                                    <input type="checkbox" class="form-control" id="danger" value="danger" name="cargo-type">
                                                    <label for="danger"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 vehicle-model">
                                            ГАЗ-3302
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 vehicle-volume">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    Свободное место:
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 volume">
                                                    200 кг  /  ≈ 3 м³
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row src-dst-row">
                                <div class="col-lg-12 src-dst">
                                    <div class="row">
                                        <div class="col-lg-8 from">
                                            <p><span class="green">Погрузка:</span> Краснодар</p>
                                            <p><span class="green">Дата и время:</span>15.06.16 / –</p>
                                        </div>
                                        <div class="col-lg-4 contacts">
                                            <button class="btn btn-md btn-success">Контакты</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 to">
                                            <p><span class="green">Выгрузка:</span> Москва</p>
                                            <p><span class="green">Дата и время:</span>17.06.16 / 18:00</p>
                                        </div>
                                        <div class="col-lg-4 price">
                                            <h2>2500 ₽</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
