<div class="container-fluid login-modal-body">
    <div class="row">
        <div class="col-xs-12">
            <form>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-vk">Войти через Вконтакте</button>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-fb">Войти через Facebook</button>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="Пароль">
                </div>
                <button type="submit" class="btn btn-lg btn-success btn-login" (click)="onClickLogin()">ВОЙТИ</button>
            </form>
        </div>
    </div>
</div>
