<div class="container main-page">
    <div class="jumbotron">
        <h1>Уникальный сервис для простой и удобной перевозки грузов</h1>
        <div class="row">
            <div class="col-lg-5 form-client-type">
                <div class="row">
                    <div class="col col-lg-6">
                        <input type="radio" name="client-type" id="carrier" value="carrier" checked>
                        <label for="carrier">
                            <span>Я могу отвезти груз</span>
                            <div class="btn btn-lg btn-success">ПЕРЕВОЗЧИК</div>
                        </label>
                    </div>
                    <div class="col col-lg-6">
                        <input type="radio" name="client-type" id="customer" value="customer">
                        <label for="customer">
                            <span>Мне нужен перевозчик</span>
                            <div class="btn btn-lg btn-success">ЗАКАЗЧИК</div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-10">
                        <span class="description">
        Найдите заказ для перевозки груза, чтобы заработать денег или посмотрите предложения водителей, чтобы найти перевозчика для вашего груза.
                        </span>
                    </div>
                    <div class="col-lg-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 form-direction">
                        <div class="from">
                            <input type="text" placeholder="От">
                        </div>
                        <div class="to">
                            <input type="text" placeholder="До">
                        </div>
                    </div>
                    <div class="col-lg-2 form-button">
                        <button class="btn btn-lg btn-success">Найти</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row promo">
        <div class="col-lg-4">
            <h4>У вас есть грузовой автомобиль?</h4>
        </div>
        <div class="col-lg-4">
            <h4>Хотите превезти небольшой груз недорого?</h4>
        </div>
        <div class="col-lg-4">
            <h4>Как выбрать надёжного водителя или клиента?</h4>
        </div>
    </div>
    <div class="row promo">
        <div class="col-lg-4">
            <p>Почему бы на этом не зарабатывать? Любая поездка будет приносить прибыль.</p>
        </div>
        <div class="col-lg-4">
            <p>У нас полно предложений от водителей, которые готовы сделать
            это быстро и за разумные деньги.</p>
        </div>
        <div class="col-lg-4">
            <p>Система рейтинга и отзывов позволяет выбирать только самые
            надёжные предложения.</p>
        </div>
    </div>
    <div class="row promo">
        <div class="col-lg-12">
            <button class="btn btn-lg btn-success">РЕГИСТРАЦИЯ</button>
            <button class="btn btn-lg">ВХОД</button>
        </div>
    </div>
</div>
