<div class="container registration">
    <div class="row">
        <div class="col-lg-12 page-subheader">
            <h1>Регистрация</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <form ngNoForm>
                <div class="form-group" [class.has-error]="validateErrors && validateErrors.name">
                    <input type="text" class="form-control" id="name" placeholder="Имя" [(ngModel)]="user.name" (focus)="onFieldFocus('name')">
                    <span *ngIf="validateErrors" class="help-block">{{validateErrors.name}}</span>
                </div>
                <div class="form-group" [class.has-error]="validateErrors && validateErrors.surname">
                    <input type="text" class="form-control" id="surname" placeholder="Фамилия" [(ngModel)]="user.surname" (focus)="onFieldFocus('surname')">
                    <span *ngIf="validateErrors" class="help-block">{{validateErrors.surname}}</span>
                </div>
                <div class="form-group" [class.has-error]="validateErrors && validateErrors.email">
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" [(ngModel)]="user.email" (focus)="onFieldFocus('email')">
                    <span *ngIf="validateErrors" class="help-block">{{validateErrors.email}}</span>
                </div>
                <div class="form-group" [class.has-error]="validateErrors && validateErrors.password">
                    <input type="password" class="form-control" id="password" placeholder="Пароль" [(ngModel)]="user.password" (focus)="onFieldFocus('password')">
                    <span *ngIf="validateErrors" class="help-block">{{validateErrors.password}}</span>
                </div>
                <div class="form-group" [class.has-error]="validateErrors && validateErrors.pass_confirm">
                    <input type="password" class="form-control" id="pass_confirm" placeholder="Подтвердите пароль" [(ngModel)]="user.pass_confirm" (focus)="onFieldFocus('pass_confirm')">
                    <span *ngIf="validateErrors" class="help-block">{{validateErrors.pass_confirm}}</span>
                </div>
                <div class="form-group" [class.has-error]="validateErrors && validateErrors.birthday">
                    <span *ngIf="validateErrors" class="help-block">{{validateErrors.birthday}}</span>
                </div>
                <div class="form-group form-inline" [class.has-error]="validateErrors && validateErrors.birthday">
                    <select id="birthday" class="form-control" [(ngModel)]="user.birthday" (focus)="onFieldFocus('birthday')">
                        <option disabled selected value="undefined">Год рождения</option>
                        <option *ngFor="let year of years">{{year}}</option>
                    </select>
                    <div class="form-group">
                        <input type="radio" name="gender" checked id="male" value="male" [(ngModel)]="user.gender">
                        <label for="male"><div class="btn btn-default">Мужчина</div></label>
                        <input type="radio" name="gender" id="female" value="female" [(ngModel)]="user.gender">
                        <label for="female"><div class="btn btn-default">Женщина</div></label>
                    </div>
                </div>
                <div class="form-group form-button">
                    <button class="btn btn-lg btn-success" (click)="register(userName)">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 agreement">
            Нажимая "Зарегистрироваться", "Войти через Facebook" или "Войти через Вконтакте" вы принимаете наши <a href="#">Условия использования</a> и подтверждаете, что вам уже исполнилось 18 лет.
        </div>
    </div>
</div>
